
{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Random Gita shlokas">
    <meta name="author" content="tilcara">
    <link rel="icon" href="{% static 'gitarandom/images/gitarandom_icon.ico' %}">

    <title>Random Gita</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'gitarandom/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'gitarandom/css/cover.css' %}" rel="stylesheet">

    <!-- My style for this template -->
    <link href="{% static 'gitarandom/css/my_style.css' %}" rel="stylesheet">

  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          	<ul class="nav justify-content-center">
	  			<li class="nav-item">
	    		<a class="nav-link active" href="#">Home</a>
	  			</li>
	  			<li class="nav-item">
	    		<a class="nav-link" href="#">Contact</a>
	  			</li>
			</ul>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Random shloka</h1>
        <p class="lead">Just click the button to display a random Gita's shloka</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Random shloka</a>
        </p>
      </main>

    <footer class="text-muted">
      	<div class="container">
        	<p>See the repo <a href="https://github.com/tilcara/gitarandom">&copyGithub</a></p>
      	</div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
