{% extends 'gitarandom/base.html' %}


{% block content %}
	<div class="jumbotron">
        <h1 class="cover-heading">Chapter: {{verse.chapter_number}} Verse: {{verse.verse_number}}</h1>
        <p class="lead">{{verse.text}}</p>
        <p class="lead">{{verse.transliteration}}</p>
        <p class="lead">{{verse.words_meaning}}</p>
        <p class="lead">{{verse.meaning}}</p>
        <p class="lead"><a class="btn btn-primary btn-lg" href="{% url 'gitarandom:home' %}" role="button">Another?</a></p>
    </div>
{% endblock %}